@mixin d-flex {
  display: flex;
}

@mixin title {
  color: $hero-title;
  margin: 0;
}

@mixin justify-center {
  justify-content: center;
  align-items: center;
}

@mixin floating {
  border: 2px solid $primary;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
